.container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    z-index: 9999;
}

.toast {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 24rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 0.5rem;
}

.msgContainer {
    flex-grow: 1;
    font-size: 13px;
    color: white;
    word-break: break-all;
    margin-right: 0.3rem;
}

.container>*:not(:last-child) {
    margin-bottom: 0.5rem;
}