/* Marquee.css */
.marquee-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: inline-block;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 5s linear infinite;
    position: absolute;
    left: 100%; /* Start off-screen */
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-50%);
    }
}
