@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  margin: 0;
  padding: 0;
  background: url('/jobonicbackground2.svg') no-repeat top center;
  background-size: cover;

  /* disable text selection */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

/* hide scroll indicator */
::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.job-div {
  align-items: self-end;
  width: 100%;
}

.job-card {
  width: 100%;
  height: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 4px;
  align-items: stretch;
  overflow: hidden; /* Prevent content from overflowing */
}
.title {
  white-space: normal; /* Allow wrapping */
  overflow: hidden;
  text-overflow: ellipsis; 
  font-size: 1.125rem; 
  font-weight: 700; 
  margin: 0; /* Remove margin */
  line-height: 1.2; /* Control spacing */
  max-height: 48px; /* Limit title height */
  overflow-y: auto;
}

@media (max-width: 768px) {
  .job-card {
    height: 300px; /* Allow height to adjust */
    padding: 20px; /* Reduce padding */
    margin-bottom: 8px; /* Add more spacing between cards */
  }

  .job-div {
    width: 100%; /* Ensure full width on smaller screens */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
  }
}

/* Further adjustments for very small screens (phones) */
@media (max-width: 480px) {
  .job-div {
    width: 50%; /* Ensure full width on smaller screens */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
  }
  .job-card {
    padding: 15px;
    height: 300px;
    font-size: 14px; /* Adjust font size for better readability */
    box-shadow: none; /* Optionally reduce shadow for smaller screens */
  }
}


.job-card:hover {
  transform: translateY(-8px); /* Slight lift effect */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

.job-card h2 {
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for text styles */
}

.job-card:hover h2 {
  color: #2c96ec; /* Blue-400 */
  text-decoration: none;
}

.job-card img {
  transition: filter 0.3s ease; /* Smooth transition for image filter */
}

.job-card:hover img {
  filter: brightness(1.1); /* Lightens the image on hover */
}



.job-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffff; 
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 20px;
  max-height: 400px;
}

.navbar-logo {
  height: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
}

/* flipcard */

.flip-card-container {
  perspective: 1000px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.flip-card {
  width: 300px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
}

.flip-card-front {
  background-color: #71BAC7;
  transform: rotateY(0deg);
}

.flip-card-back {
  background-color: #71BAC7;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.text-content {
  text-align: center;
}

.required:after {
  content: ' *';
  color: #e32;
  display: inline;
}

/* img {
  margin-bottom: 16px;
} */

/* JObonic hoME */
.canvas {
  position: absolute; /* Fix the position */
  margin-top: 0%;
  top: 400px;
  left: 0;
  width: 100%; 
  height: 235%;
  z-index: -1; /* Send it to the background */
  min-height: 100%;
  min-height: 100%;

}

.canvas-container {
  width: 100%;
  max-width: 100%; /* Ensure the image does not exceed the width of its container */
  overflow: hidden; /* Hide any overflow to prevent scrollbars */
  
}

.marquee-container {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}


.border-rainbow {
  background: linear-gradient(
    45deg,
    #ff9ed4, 
    #9d99f5, 
    #ffc0c2,
    #85f0b7,
    #73c3e6, 
    #fcf5a3
  );
  background-size: 300% 300%;
  animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes rainbow-shadow {
    0% {
        box-shadow: 0 0 20px rgba(255, 102, 102, 0.6), 0 0 40px rgba(255, 102, 102, 0.4), 0 0 60px rgba(255, 102, 102, 0.3);
    }
    14% {
        box-shadow: 0 0 22px rgba(255, 178, 102, 0.6), 0 0 44px rgba(255, 178, 102, 0.4), 0 0 66px rgba(255, 178, 102, 0.3);
    }
    28% {
        box-shadow: 0 0 24px rgba(255, 255, 153, 0.6), 0 0 48px rgba(255, 255, 153, 0.4), 0 0 72px rgba(255, 255, 153, 0.3);
    }
    42% {
        box-shadow: 0 0 22px rgba(153, 255, 153, 0.6), 0 0 44px rgba(153, 255, 153, 0.4), 0 0 66px rgba(153, 255, 153, 0.3);
    }
    57% {
        box-shadow: 0 0 26px rgba(153, 204, 255, 0.6), 0 0 52px rgba(153, 204, 255, 0.4), 0 0 78px rgba(153, 204, 255, 0.3);
    }
    71% {
        box-shadow: 0 0 24px rgba(178, 153, 255, 0.6), 0 0 48px rgba(178, 153, 255, 0.4), 0 0 72px rgba(178, 153, 255, 0.3);
    }
    85% {
        box-shadow: 0 0 22px rgba(255, 153, 204, 0.6), 0 0 44px rgba(255, 153, 204, 0.4), 0 0 66px rgba(255, 153, 204, 0.3);
    }
    100% {
        box-shadow: 0 0 20px rgba(255, 102, 102, 0.6), 0 0 40px rgba(255, 102, 102, 0.4), 0 0 60px rgba(255, 102, 102, 0.3);
    }
  }

  .shadow-rainbow {
      animation: rainbow-shadow 1s linear infinite;
  }